<ion-header>

  <ion-navbar>
    <ion-title>Scan Result</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col width-100>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-100>
      <h2 class="Scan-resultUser">{{scannedText}}</h2>
    </ion-col>
    <ion-item>
    <ion-label>{{scannedText}}</ion-label>
    </ion-item>
  </ion-row>
</ion-content>
