<ion-header>

  <ion-navbar>
    <ion-title>QR Codes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let event of events" (click)="scanForEvent(event.id, event.title)">
      {{event.title}}
    </ion-item>
  </ion-list>
</ion-content>
